<!-- Example Toggle Switch -->
<label class="dark:bg-black inline-flex items-center cursor-pointer fixed top-[20px] right-4">
    <input type="checkbox" class="sr-only peer" [(ngModel)]="isDarkMode" (change)="toggleTheme()"/>
    <div class="flex items-center justify-center w-16 h-8 rounded-full p-1 transition-colors duration-300">
      <div class="w-8 h-8 bg-gray-400 rounded-full shadow-md transform transition-transform duration-300 peer-checked:translate-x-8 flex items-center justify-center">
        <svg *ngIf="!isDarkMode" class="sun-icon h-6 w-6 me-1 text-yellow-500 absolute left-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="yellow">
          <!-- Sun icon path -->
        </svg>
        <svg *ngIf="isDarkMode" class="moon-icon h-6 w-6 text-gray-800 absolute right-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
          <!-- Moon icon path -->
        </svg>
      </div>
    </div>
  </label>
  
  <!-- Router Outlet -->
  <router-outlet></router-outlet>
  