<p class="text-center mt-5 text-[25px] font-bold dark:text-white">Our Top Categories</p>

<section class="text-gray-600 body-font mx-3" *ngFor="let item of products; let i = index; trackBy: trackByFn">
  <div
    class="container px-5 py-16 border-b mx-auto flex flex-wrap gap-3"
    [ngClass]="{ 'flex-row-reverse': i % 2 !== 0 }"
  >
    <!-- Left Section (Text Content) -->
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900 dark:text-white">
          {{ item.title }}
        </h1>
        <div class="leading-relaxed max-h-[150px] overflow-auto dark:text-white">{{ item.description }}</div>
      </div>
      <p class="mx-auto text-[16px] font-bold pb-3 dark:text-white">{{ item.price }}$</p>
      <button class="w-full bg-blue-500 text-white text-center h-9 rounded-lg" (click)="onBuyNow(item)">
        Buy Now
      </button>
    </div>

    <!-- Right Section (Image) -->
    <div
      class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0"
    >
      <img
        class="object-center  w-full h-full max-h-[300px]"
        [src]="item.image"
        alt="stats"
      />
    </div>
  </div>
</section>
