<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-800">
  <div class="container h-full p-10">
    <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-900">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container -->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!-- Logo -->
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold text-primary-600">
                    We are The Lotus Team
                  </h4>
                </div>

                <form (ngSubmit)="onSubmit()">
                  <p class="mb-4 text-gray-600 dark:text-gray-300">Please register an account</p>
                  <!-- Username input -->
                  <div class="relative mb-4">
                    <input type="text" class="peer block min-h-[auto] w-full rounded bg-gray-50 dark:bg-neutral-700 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear dark:text-white focus:border-primary-600 focus:ring-primary-600 dark:focus:border-primary-400" id="exampleFormControlInput1" placeholder="Username" name="username" [(ngModel)]="user.username" />
                
                    <div *ngIf="!user.username" class="text-red-500 hidden">Username is required.</div>
                  </div>

                  <!-- Password input -->
                  <div class="relative mb-4">
                    <input type="password" class="peer block min-h-[auto] w-full rounded bg-gray-50 dark:bg-neutral-700 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear dark:text-white focus:border-primary-600 focus:ring-primary-600 dark:focus:border-primary-400" id="exampleFormControlInput11" placeholder="Password" name="password" [(ngModel)]="user.password" />
                   
                    <div *ngIf="user.password.length < 6 && user.password" class="text-red-500">Password is required (minimum 6 characters).</div>
                  </div>

                  <!-- Submit button -->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button class="mb-3 inline-block w-full rounded dark:bg-[linear-gradient(90deg,_rgba(19,_1,_34,_1)_1%,_rgba(67,_2,_114,_1)_51%,_rgba(20,_1,_26,_1)_100%)]px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg dark:hover:shadow-dark" type="submit">
                      Sign up
                    </button>
                  </div>

                  <!-- Register button -->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 me-2">Have an account?</p>
                    <button type="button" class="inline-block rounded border-2 border-pink-600 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-pink-600 transition duration-150 ease-in-out hover:border-pink-800 hover:bg-pink-50 focus:border-pink-800 focus:bg-pink-50 focus:text-pink-800 focus:outline-none dark:border-pink-400 dark:text-pink-400 dark:hover:bg-pink-950 dark:hover:text-pink-200 dark:focus:bg-pink-950" [disabled]="!user.username || !user.password" routerLink="/login">Login</button>
                  </div>
                </form>
              </div>
            </div>

            <!-- Right column container with background and description -->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none bg-gradient-to-r from-purple-700 via-pink-500 to-red-400">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  We are more than just a company
                </h4>
                <p class="text-sm">
                  Discover the passion and dedication that drive us to innovate and lead. Join us on a journey where creativity meets technology, and together, we shape the future.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
